@import "tailwindcss";

@theme {
  --color-exhibit-black: #000000;
  --color-exhibit-dark: #222222;
  --color-exhibit-light: #cccccc;
  --color-exhibit-white: #ffffff;
}

@base {
  html.online-exhibit {
    font-size: clamp(14px, 1.75vw, 24px);
  }
}

.online-exhibit .is-block-content :is(p, h1, h2, h3, h4, h5, h6) {
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
}

.online-exhibit .wp-block-image > img,
.online-exhibit .wp-block-image > figure > img {
  width: auto;
  max-height: calc(100vh - 12rem);
  margin: auto;
}

.online-exhibit .wp-block-media-text__media > img {
  width: auto;
  max-height: calc(100vh - 12rem);
}

.online-exhibit .wp-block-embed {
  max-width: 1080px;
  margin-inline: auto;
}

[x-cloak] {
  display: none;
}

.online-exhibit .wp-block-columns {
  margin-bottom: 0;
  margin-top: 0;
}

.online-exhibit
  :is(
    .blocks-gallery-caption figcaption,
    .wp-block-embed figcaption,
    .wp-block-image figcaption,
    .wp-block-table figcaption,
    .wp-block-audio figcaption,
    .wp-block-video figcaption
  ) {
  color: var(--color-exhibit-light);
}
